<div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center" class="bg">

    <div [ngStyle]="!arrowBack && {'visibility': 'hidden'}">
        <button mat-icon-button [routerLink]="lastRoute">
            <i class="material-icons">&#xE5C4;</i>
        </button>
    </div>

    <div>
        <button mat-icon-button routerLink="/work-package-create">
            <i class="material-icons">&#xE145;</i>
        </button>
    </div>

    <mat-menu #workpackageMenu="matMenu">
        <button mat-menu-item routerLink="/work-package-create">Work package</button>
    </mat-menu>

    <mat-toolbar class="bg">
        <div [ngStyle]="{'font-size' : '14px'}" routerLink="/">
            <b>{{ header }}
                <br> {{ subheader }}</b>
        </div>
    </mat-toolbar>

    <div>
        <button mat-icon-button>
            <i class="material-icons" routerLink="/settings">settings</i>
        </button>
    </div>

</div>