.mat-list .mat-list-item.mat-2-line, .mat-list .mat-list-option.mat-2-line, .mat-nav-list .mat-list-item.mat-2-line, .mat-nav-list .mat-list-option.mat-2-line, .mat-selection-list .mat-list-item.mat-2-line, .mat-selection-list .mat-list-option.mat-2-line {
    height: 50px;
}

.mat-fab {
    width: 25px;
    height: 25px;
  }

  .imageUpload {
font-size:13px;
  }

.one{
  background-color: #f5f5f5
}

.two{
  background-color: #fafafa;
}