<div *ngIf="checkConnectionService.internetConnectionStatus">

  <mat-card [ngStyle]="{'padding' : '0px 24px'}">
    <mat-card-title>
      <h2 class="mat-h2" fxLayoutAlign="center">Settings</h2>
    </mat-card-title>

    <mat-form-field [ngStyle]="{'width' : '100%'}">
      <input name="apikey" matInput placeholder="Apikey" [(ngModel)]="apikey" (ngModelChange)="formValidation()">
      <div *ngIf="!this.settingsService.formValidator" class="alert alert-danger">
        <mat-error *ngIf="!this.settingsService.formValidator">
         No valid Api Key.
                 </mat-error>
      </div>
    </mat-form-field>

    <mat-form-field [ngStyle]="{'width' : '100%'}">
      <mat-select placeholder="{{project}}" [(ngModel)]="project">
        <mat-option *ngFor="let p of projects" [value]="p['identifier']">
          {{p['identifier']}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="center">
      <button [disabled]="!this.settingsService.formValidator" mat-raised-button (click)="save()" [ngStyle]="{'margin-bottom' : '6px'}" routerLink="/work-package-list">Update settings</button>
    </div>
  </mat-card>

</div>

<div *ngIf="!checkConnectionService.internetConnectionStatus" fxLayout="column" fxLayoutAlign="center center" [ngStyle]="{'padding-top': getSpinnerPosition()}">
  <mat-spinner></mat-spinner>
</div>